header.navbar
  .container
    h1 Darrell White
      br 
      span Fine Art &amp; Illustration



  .art-panel
    .container
      .row
        img/(src="../../assets/images/sydney-1200.png")
        aside.col-md-3.col-md-offset-9
          h3 Farewell Sydney
          p Oil on canvas
          p: a(href='http://www.waca.com.au/other/news_detail.php?ID=2302' target='_blank') Read about the dedication ceremony

       
  .article-panel
    .container
      .row
        .col-md-6.col-md-offset-2
          h2.title 
            span &ldquo;
            | Farewell Sydney
            span &rdquo;
          p HMAS Sydney II departs Fremantle inner harbour.
          p The painting was commissioned by the West Australian Cricket Association (WACA) to form part of their HMAS Sydney II Commemorative Display.
          p This work required a great deal of research to recreate the scene, as accuracy was of the upmost importance for the client. I drilled down into details such as time of day, official weather report, ships alongside, colour schemes of port buildings and even if a woman could have access to North Mole during wartime.
          p The painting was unveiled 11 November 2011 to coincide with the day, 70 years ago, Sydney departed from Gage Roads
        
        
        .section-break.col-sm-12






footer