body {
    background-color: $white;
}


.article-panel, .art-panel, .illust-panel {
    padding-top: 50px;
    padding-bottom: 50px;
}

.illust-panel, .art-panel {
    p {
        margin-bottom: 3px;
    }
    a {
        color: $grey-med;
        &:hover {
            color: $white;
        }
    }
    //remove bottom margin on last image
    img:last-of-type {
        margin-bottom: 0;
    }
}

.art-panel {
    background-color: $fine-art-bg-col;
    color: $grey-light;
    h3 {
        color: $white;
    }
}

.illust-panel {
    color: $grey-light;
    background-color: $illust-bg-col;
}


// Section break colours
@include section-break('section-sydney', #b0ac61, #7ba5c2, #727e81);
@include section-break('section-yvonne', #955634, #82ca99, #efcea8);
@include section-break('section-sprayground', #b0d233, #35bbdd, #90939d);
@include section-break('section-runaway-dragon', #bf4132, #cada78, #716eb3);
@include section-break('section-trains', #cbb902, #b67000, #53566a);




img {
    width: 96%;
    height: auto;
    margin: 0 2%;
    display: block;
    &.large {
        &:hover {
            cursor: auto;
        }
    }
    &:hover {
        cursor: zoom-in;
    }
    @media all and (min-width: $img-screen-break) {
        width: auto;
        margin: 0 auto;
        &.large {
            width: 100%;
        }

    }
}

