@import "../sass/variables.scss";
@import "../sass/mixins.scss";


html { 
    font-size: 62.5%;  /* 10px base for REMS */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0rem; /* 10 ÷ $rembase */
}


h1 {
    font-weight: 300;
    font-size: 8.0rem;
    text-align: center;
    line-height: 5.2rem;
    margin: 40px 0;
}

h1 span {
    font-weight: 400;
    font-size: 4.68rem;
    color: $grey-med;
}

h2 {
    font-size: 4.5rem;
    margin-bottom: 25px;
    &.title-indent {
        text-indent: -21px;
        span {
            color: $grey-med-dark;
            font-size: 3.5rem;
            vertical-align: top;
            margin: 0 3px;
        }
    }
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.intro {
    font-size: 2rem;
    color: $grey-med;
}

.client {
    span {
        font-weight: 600;
        margin-right: $margin-xs;
    }
}